{% extends "base_admin.html.twig" %}

{% block title %}
    Blog Symfony | Ajout Catégorie
{% endblock %}

{% block body %}
<h1 class="text-center">Nouvelle catégorie</h1>

{{form_start(categoryForm, {'attr':{'class':'col-6 mx-auto'}}) }}

    {{form_row(categoryForm.titre)}}

    {{form_row(categoryForm.description)}}

    <button>Enregistrer</button>
{{form_end(categoryForm)}}


{% endblock %}